.horizontal-scroll-wrapper {
    width: 7000px;
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  body{
      height: 900px;
  }

  .clickme{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    text-align: center;
      width: 120px;
      height: 80px;
      background: red;
      position: relative;
      border-radius: 10px;
      position: absolute; 
      top: 200px; 
      left: 350px;
      z-index: 5;
    }
  .clickme:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 26px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 26px solid red;
      border-bottom: 13px solid transparent;
    }
  

  #myImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover { opacity: .7;}
 
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #mySecondImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #mySecondImg:hover {opacity: 0.7;}
 
  .modal2 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
 
  .modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  

  #caption2 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  

  .modal-content2, #caption2 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  

  .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close2:hover,
  .close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content2 {
      width: 100%;
    }
  }

  #myThirdImg {
    cursor: pointer;
    transition: 0.3s;
  }
  

  #myThirdImg:hover {opacity: 0.7;}
 
  .modal3 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

  .modal-content3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  #caption3 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content3, #caption3 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close3:hover,
  .close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px){
    .modal-content3 {
      width: 100%;
    }
  }


  #myFourthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myFourthImg:hover { opacity: .7;}
 
  .modal4 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption4 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content4, #caption4 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close4:hover,
  .close4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content4 {
      width: 100%;
    }
  }

  #myFifthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myFifthImg:hover { opacity: .7;}
 
  .modal5 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption5 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content5, #caption5 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close5:hover,
  .close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content5 {
      width: 100%;
    }
  }

  #mySixthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #mySixthImg:hover { opacity: .7;}
 
  .modal6 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption6 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content6, #caption6 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close6:hover,
  .close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content6 {
      width: 100%;
    }
  }

  #mySeventhImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #mySeventhImg:hover { opacity: .7;}
 
  .modal7 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption7 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content7, #caption7 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close7:hover,
  .close7:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content7 {
      width: 100%;
    }
  }

  #myEighthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myEighthImg:hover { opacity: .7;}
 
  .modal8 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption8 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content8, #caption8 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close8:hover,
  .close8:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content8 {
      width: 100%;
    }
  }

  #myNinthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myNinthImg:hover { opacity: .7;}
 
  .modal9 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content9 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption9 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content9, #caption9 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close9 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close9:hover,
  .close9:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content9 {
      width: 100%;
    }
  }

  #myTenthImg {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myTenthImg:hover { opacity: .7;}
 
  .modal10 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content10 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption10 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content10, #caption10 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close10 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close10:hover,
  .close10:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content10 {
      width: 100%;
    }
  }

  #my11Img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #my11Img:hover { opacity: .7;}
 
  .modal11 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content11 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption11 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content11, #caption11 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close11 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close11:hover,
  .close11:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content11 {
      width: 100%;
    }
  }

  #my12Img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #my12Img:hover { opacity: .7;}
 
  .modal12 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content12 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption12 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content12, #caption12 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close12 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close12:hover,
  .close12:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content12 {
      width: 100%;
    }
  }

  #my13Img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #my13Img:hover { opacity: .7;}
 
  .modal13 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content13 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption13 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content13, #caption13 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close13 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close13:hover,
  .close13:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content13 {
      width: 100%;
    }
  }

  #my14Img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #my14Img:hover { opacity: .7;}
 
  .modal14 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content14 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption14 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content14, #caption14 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close14 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close14:hover,
  .close14:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content14 {
      width: 100%;
    }
  }

  #my15Img {
    cursor: pointer;
    transition: 0.3s;
  }
  
  #my15Img:hover { opacity: .7;}
 
  .modal15 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: black; 
    background-color: black; 
  }
  
  .modal-content15 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption15 {
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content15, #caption15 {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  .close15 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close15:hover,
  .close15:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content15 {
      width: 100%;
    }
  }