body{
    background-color: darkslategrey;
}

.emptybox{
    width: 400px;
    height: 200px; 
}

@font-face{
    font-family: Unifrak;
    src: url(corelab/corelab/UnifrakturMaguntia/UnifrakturMaguntia-Book.ttf);
    font-style: normal;
    font-weight: 100;
}

a{
    font-size: 71px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    color: #062726;
    text-decoration: none;
}

a:hover{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;  
}

.studio{
    position: absolute;
    top: 0px;
}

.studio1{
    font-size: 72px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    color: #062726;
}

div.studio1:hover{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

.lab{
    position: absolute;
    top: 0px;
    left: 220px;
}

  .lab1{
    font-size: 72px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    color: #062726;
}

div.lab1:hover{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
  }

  .peers{
    position: absolute;
    top: 0px;
    left: 330px;
}

  .peers1{
    font-size: 72px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1;
    text-decoration: none;
    color: #062726;
}

 .peers1:link {
    text-decoration: none;
  }
  
  .peers1:visited {
    text-decoration: none;
  }
  
  .peers1:hover {
    text-decoration: underline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .peers1:active {
    text-decoration: underline;
  }

  .studiop2{
    position: absolute;
    top: 0px;
    left: 505px;
}

.labp2{
    position: absolute;
    top: 0px;
    left: 715px;
}

.peersp2{
    position: absolute;
    top: 0px;
    left: 825px;
}

.studiop3{
    position: absolute;
    top: 0px;
    left: 1000px;
}

.labp3{
    position: absolute;
    top: 0px;
    left: 1215px;
}

.peersp3{
    position: absolute;
    top: 0px;
    left: 1325px;
}

.studiop4{
    position: absolute;
    top: 0px;
    left: 1500px;
}
