body{
    background-color: #0B032D;
}

.horizontal-scroll-wrapper {
    width: 7000px;
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  @font-face{
    font-family: bebas;
    src: url(bebas_kai/BebasKai.ttf);
    font-style: normal;
    font-weight: 100;
}

.title2{
    font-family: bebas;
    color: #F67E7D;
    font-size: 200px;
    position: absolute;
    left: 0px;
    top: 150px;
}

.page1{
    position: absolute;
    left: 2000px;
    top: 375px; 
}

.title3{
    font-family: bebas;
    color: #843B62;
    font-size: 30px;
    position: absolute;
    left: 2000px;
    top: 300px;
}


.page2{
    position: absolute;
    left: 3000px;
    top: 375px; 
}

.title4{
    font-family: bebas;
    color: #843B62;
    font-size: 30px;
    position: absolute;
    left: 3000px;
    top: 300px;
}

.page3{
    position: absolute;
    left: 4000px;
    top: 375px; 
}

.title5{
    font-family: bebas;
    color: #843B62;
    font-size: 30px;
    position: absolute;
    left: 4000px;
    top: 260px;
}

.page4{
    position: absolute;
    left: 5000px;
    top: 375px; 
}

.title6{
    font-family: bebas;
    color: #843B62;
    font-size: 30px;
    position: absolute;
    left: 5000px;
    top: 300px;
}

.page5{
    position: absolute;
    left: 6000px;
    top: 375px; 
}

.title7{
    font-family: bebas;
    color: #843B62;
    font-size: 30px;
    position: absolute;
    left: 6000px;
    top: 300px;
}
